:root {
	--color-yellow: #ffcd32;
	--color-blue: #1089ff;
	--color-grey: #f6f6f6;
}

* {
	padding: 0;
	margin: 0;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: "Plus Jakarta Sans", sans-serif;
	font-weight: 400;
	line-height: 1.6;
}
